//Screen sizes
$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-mg: 1050px;
$screen-lg: 1200px;
$screen-xg: 1400px;

//Fonts
$fontOswald: 'Oswald', sans-serif;
$fontOpen: 'Open', sans-serif;

//Colors
$color-black--base:      #000;
$color-red--base:        #d73a1e;
$color-purple--base:     #523468;
$color-grey--base:       #e6e6e6;
$color-white--base:      #ffffff;