<!DOCTYPE html>
<html>

    <head>
        <title>Merlin's Potions</title>
        <link rel="stylesheet" href="dist/app.css">
    </head>

    <body>
        <div class="lightBox">
            <div class="lightBox__close">
                <span class="fa fa-times"></span>
            </div>
            <div class="lightBox__product">
                <div class="lightBox__product__image">
                    <img src="">
                </div>
                <div class="lightBox__product__description">
                    
                    <div class="lightBox__button">
                        <button>ADD TO CART</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>